/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar {
  background-color: white;
  border-color: white;
}

.badge{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.letter-background {
  background: #e6e6e6;
}

.cryptogram-letter {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.5% 0.5% 0 0.5%;
  float: left;
  min-height: 77px;
}

.cryptogram-letter p:first-of-type{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  font-weight: bold; 
}

.cryptogram-letter input{
  text-transform: uppercase;
  text-align: center;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  width: 100%;
  font-weight: bold;
}

.cryptogram-letter-count{
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
}

.cryptogram-letters-remaining{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.letter-focus, .letter-focus:focus, .letter-focus:active, .letter-focus:hover {
  background-color: #adadad;
  border-color: #333; 
}

.letter-error {
  background-color: red;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.danger {
  color: #d9534f
}

.navbar-brand{
  margin: auto 0;
  padding: 5px 15px;
}

h1 {
  font-size: 40px;
}

body {
  font-family: monospace, sans-serif;
}

h1 .btn, .nav, .cryptogram-letters-remaining-box, .hints {
  font-family: monospace, sans-serif;
}

.robot {
  max-width: 100%;
}

pre {
  white-space: pre-line;
  word-break: normal;
}

.about-container{
  font-family: monospace;
}

.btn-paste {
  font-family: monospace;
  font-size: 12px !important;
  color: #767676;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
}

.btn-paste:hover {
  color: #fff;
  background-color: #563d7c;
  border-color: #563d7c
}

.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
}

.btn-clipboard-hover {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c
}

.results-text{
  font-size: 14px;
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.cipher-text{
  font-size: 12px;
}

.robot-button {
  font-family: monospace, monospace;
  margin-top: 20px;
  font-size: 20px;
}

.robot-button-container {
  font-family: monospace, monospace;
  background-color: #f9f2f4;
  padding-left: 20px;
  padding-right: 20px;
}

.robot-button-container textarea{
  height: 100%;
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */
}

.robot-quotebox {
  border-radius: 50px;
  background-color: #f9f2f4;
}

.robot-quotebox pre{
  margin: 0;
  border: none;
}

.robot-quotebox code{
  color: #666666;
}

.footer {
  font-size: 10px;
  font-family: monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

body > div > div > .container {
  padding: 20px 15px 0;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.container .text-muted {
  margin: 20px 0;
}

.results-panel{
  margin-top: 20px; 
  font-family: monospace; 
  background-color: #64F3D5;
}

.btn {
  max-width: 100%;
  white-space: normal;
}

.footer > .container img {
  max-width: 20px;
  max-height: 20px;
}

.success {
  color: #5cb85c
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media (max-width: 500px) {
  .btn {
    font-size: 20px;
  }

  .footer > .container > div{
    padding-left: 5px;
    padding-right: 5px;
  }

  .footer > .container div {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 8px;
  }

  .footer > .container img {
    max-width: 14px;
    max-height: 14px;
  }
}

@media (max-width: 300px) {
  .btn {
    font-size: 20px;
  }
}

@media (min-width: 500px){
  .btn {
    font-size: 30px;
  }

  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

html {
  position: relative;
  min-height: 100%;
}