<br />
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center text-uppercase">
      <h1 style="font-family: monospace">Meteor-Cryptogram</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center" ng-show="!playctrl.cryptogram">
      <div class="btn btn-primary" ng-click="playctrl.getCryptogram()">play</div>
    </div>
  </div>
  <div class="row" ng-if="playctrl.cryptogram">
    <div class="col-xs-12 text-center">
      <cryptogram puzzle="playctrl.cryptogram.puzzle" solution="data.currentSolution" max-line-chars="{{data.maxLineChars}}"></cryptogram>
    </div>
    <div class="col-xs-12 text-center" ng-hide="playctrl.answer">
      <div class="btn btn-success" ng-click="playctrl.submit()">submit</div>
      <div class="btn btn-warning" ng-disabled="!$root.currentUser" ng-click="playctrl.getHint()">hint<span class="badge">{{$root.currentUser.cryptograms.current.hints}}</span></div>
      <div class="btn btn-danger" ng-click="playctrl.giveUp()">give up</div>
    </div>
    <div class="col-xs-12 text-center" ng-hide="playctrl.answer">
      <p class="hints" ng-hide="$root.currentUser">login to get hints</p>
    </div>
    <div class="col-xs-12 text-center" ng-show="playctrl.solved">
      <h1 class="success">you solved the cryptogram!</h1>
    </div>
    <div class="col-xs-12 text-center" ng-show="playctrl.answer">
      <div class="btn btn-primary" ng-click="playctrl.getCryptogram()">new cryptogram</div>
    </div>
  </div>
</div>
<br />